{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "Storage": {
    "ConnectionString": "_APPSTORAGECONNECTIONSTRING_",
    "ContainerName": "_UPLOADCONTAINERNAME_"
  }
}
